{% extends "base.html" %}


{% block header %}
            <h2>About</h2>
{% endblock %}

{% block content %}
    <h3>Attention Points</h3>
    <p>
        This Attention Point management system is based on The Mobile Company's <a href="https://themobilecompany.com/?utm_source=bullfrog" target="_blank">Attention Points System Policy and implementation</a>.
    </p>
    <p>
        With Attention Points, Lead Links can put more/less <em>relative</em> focus on certain roles/sub-circles.<br/>
        A fulltime 40 hour week roughly translates to 100 attention points (i.e. 1 full time equivalent). Or, 1 hours equals 2.5 Attention Points.<br/>
        Assigned Attention Points should be seen as a <em>maximum</em> allowed focus. Therefore your total assigned Attention Points can add up to more than 100%.<br/>
        <b>Note:</b> Attention Points are meant to be relative; Look at all your Roles and divide your focus relative to the assigned attention points.<br/>
    </p>
    <p>
        For more information, please consult the documentation or your Attention Points Policy.
    </p>
{% endblock %}