{% load static %}
<html>
    <head>
        <title>Bullfrog</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    </head>
    <body>
        {% include "menu.html" %}

        <div id="header">
            <div class="row">
                {% block header %}
                {% endblock %}
            </div>
        </div>
        <div id="content">
            <div class="row">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>